.App {
	max-width: 700px;
	margin: 2rem auto;
	padding: 0 2rem;
}

.todos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.todo {
	box-sizing: border-box;
	display: inline-block;
	color: azure;
	letter-spacing: 1px;
	background-color: brown;
	min-width: 0;
	padding: 0.8rem;
	border-radius: 0.5rem;
}

@media (max-width: 768px) {
	.todos {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 590px) {
	.todos {
		grid-template-columns: repeat(1, 1fr);
	}
}
